.root {
    -background-color: #F5F5F5;
    -tile-color: #FFFFFF;
    -tile-border-color: #BFC6DC;
    -button-hover-color: #CBCBCB;
    -regular-text-color: #000000;
    -green-text-color: #01914B;
    -red-text-color: #FF1744;
}