.header {
    -fx-background-color: -tile-color;
    -fx-max-width: infinity;
}

.header > * {
    -fx-alignment: CENTER_CENTER;
}

.logo {
    -fx-text-fill: -regular-text-color;
    -fx-font-size: 32px;
    -fx-font-weight: 600;
    -fx-padding: 16 10 16 10;
    -fx-alignment: CENTER_CENTER;
}

.navigation {
    -fx-alignment: TOP_CENTER;
}

.navigation > .toggle-button {
    -fx-text-fill: -regular-text-color;
    -fx-max-width: infinity;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 2;
    -fx-padding: 10 16 10 16;
    -fx-alignment: CENTER_LEFT;
}

.navigation > .toggle-button:hover {
    -fx-background-color: -button-hover-color;
}

.navigation > .toggle-button:selected {
    -fx-border-color: transparent transparent transparent -main-color;
    -fx-text-fill: -main-color;
}

.bottom-sidebar {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 20 16;
}

.week-counter {
    -fx-alignment: CENTER_LEFT;
}

.week-counter > .label {
    -fx-text-fill: -regular-text-color;
}

.week-counter > .button {
    -fx-text-fill: -regular-text-color;
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 5 5 5 5;
    -fx-alignment: CENTER_LEFT;
}

.content-container {
    -fx-background-color: -background-color;
}

.stock-filters {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -border-color;
}

.searchBar {
    -fx-background-color: -tile-color;
    -fx-text-fill: -regular-text-color;
    -fx-border-color: -border-color;
    -fx-border-width: 1 1 1 1;
    -fx-border-insets: 5 10 5 10;
    -fx-background-insets: 5 10 5 10;
}

.sort-buttons {
    -fx-border-insets: 5 10 5 10;
    -fx-background-insets: 5 10 5 10;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
}

.sort-buttons > .toggle-button {
    -fx-text-fill: -regular-text-color;
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 2 5 2 5;
    -fx-alignment: CENTER_LEFT;
}

.sort-buttons > .toggle-button:hover {
    -fx-background-color: -button-hover-color;
}

.sort-buttons > .toggle-button:selected {
    -fx-border-color: -main-color;
    -fx-text-fill: -main-color;
}

.stock-card {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -border-color;
    -fx-padding: 5 10 5 10;
}

.stocks-container {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.stocks-container > .viewport {
    -fx-background-color: transparent;
}

.stocks-container > .scroll-bar:vertical > .track {
    -fx-background-color: -tile-color;
}

.stocks-container > .scroll-bar:vertical > .thumb {
    -fx-background-color: -border-color;
    -fx-background-radius: 3;
}

.stocks-container > .scroll-bar:vertical > .decrement-button,
.stocks-container > .scroll-bar:vertical > .increment-button{
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}